#teeth-diagram {
    path {
        fill: #fff;
        stroke-width: 4;
        stroke: #000;
        stroke-linecap: round;
        stroke-linejoin: round;
        cursor: pointer;

        &:hover {
            fill: #eee;
        }

        &:focus {
            fill: #ddf;
            stroke: #00f;
            outline: none;
        }
    }

    path.missing {
        stroke: #ccc;
        fill: #eee;

        &:focus {
            stroke: #00f;
        }
    }
}

#teeth-lower-lines,
#teeth-upper-lines {
    path {
        fill: none;
        stroke: #D0011B;
        cursor: default;
        display: none;

        &:hover,
        &:focus {
            fill: none;
            stroke: #D0011B;
        }
    }
}
